*{padding: 0; 
    margin: 0;
    font-size: 14px; 
    text-decoration: none;
     color: rgb(21, 20, 20);
    list-style: none;}

 body {background-color: #111;}


#geral{height: auto;overflow: hidden;margin: 0 auto;}
 /*-----------------------Topo do site------------------*/
 #topo{width: 100%; height: 200px;float: left;background-color:#6A5ACD;}
 .logo{width: 100px;height: auto;float: left;margin: 20px;}
 .link_top{float: right;padding: 10px;margin: 5px;background-color: black; color: white;}
 .link_top:hover{background-color:#59f}
 /*-----------------------Fim do topo----------------*/
 
 
 /*-----------------------Menu do site------------------*/
 #menu{width: 100%; height: 50px;float: left;background-color: #191970;}
 .links_menu li a{float: left;padding: 17px;background-color: #191970;color: white;}
 .links_menu li a:hover {background-color: green}
 /*-----------------------Fim do menu------------------*/


 /*--------------------------------Conteudo do Site--------------------------------------*/
 #conteudo{width: 100%; min-height: 450px;float: left;background-color: #836FFF;}
 #conteudo_principal{width: 70%;min-height: auto; float: left;border: 1px solid #ccc;
margin: 20px 10px;}
 #recentes{width: 26%;min-height: 600px; float: left;border: 1px solid #ccc;
margin: 20px 10px;}
.postagens{width: 60%;height: auto;overflow: hidden;float: left;margin: 10px 0;border: 1px solid red;}
.titulos{font-size: 20px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;float: left;width: 96%;margin:5px 2%;color: #000;}
.imagem{width: 30%;height: auto; float: left;margin: 5px 0;}
.paragrafo, .data{font-size: 14px;color:#111;float:left;width: 100%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;margin: 10px 2%;}
.postagem_recentes{width: 100%;height: auto;overflow: hidden;float: left;margin: 10px 0;border: 1px solid red;}
.titulos a:hover{color:blue}
/*------------------------------------------------ Pagina de contato----------------------------*/
.campos, .campos_cad{width: 80%;margin: 10px 10%; height: 30px; float: left; padding: 2px;}
.campos2{width: 80%;margin: 10px 10%; min-height: 150px; float: left; padding: 2px;}
.bt_enviar{float: left; margin-left: 10%; padding: 5px;font-size: 16px;}
.legenda{float: left;margin-left: 10%;font-size: 16px;}
/*------------------------------------------------ Fim da Pagina de contato----------------------------*/

/*------------------------------------------------ Pagina de cadastro----------------------------*/
#box_from,#box_log{width: 80%;min-height: 300px;background-color: #FFF;margin: 40px auto;overflow: hidden;}
#botoes{width: 80%;margin: 10px 10%; height: 30px; float: left; padding: 2px;}
.bt_cad{float: left; font-size: 16px; padding: 5px; margin-right: 5px;}
.login_cad{float: left;padding: 17px;background-color: #191970;color: white; padding-left: 59%;}
/*------------------------------------------------Fim da Pagina de cadastro----------------------------*/


/*--------------------------------Fim do conteudo do Site-------------------------------*/
 
 /*-------------------------------- Rodape do site-----------------------------*/
 #rodape{width: 100%; height: 50px;float: left;background-color: rgb(73, 129, 129);}
 .direitos{text-align: center; font-size: 18px; color: #111;}
 /*-------------------------------- Fim do Rodape do site-----------------------------*/